export(
  listBatteryMethods,
  battery,
  perf,
  
  #nodeFactor,
  
  mat,
  resize,
  
  hypot,
  rad2deg,
  deg2rad,
  
  midpoints,
  clamp
)    

## Methods
S3method(mat, default) 
S3method(mat, character)    
S3method(mat, list)    
S3method(battery, rpart)    
#S3method(battery, randomForest)    

